.title{
    text-align: center;
    font-family :'Bradley Hand';
    font-size: 80px;
    color: brown;
}


.pge{
    background-color: rgb(241, 218, 221);
}

.recipe{
 font-size: 40px;
 font-style: italic;
 color: brown;
}

